<!--
  Generated template for the Order page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-row align-items-center>

      <ion-col col-auto>
        <button ion-button menuToggle>
      <ion-icon color="mainGreen" name="menu"></ion-icon>
      </button>
      </ion-col>

      <ion-col width-100>
        <ion-title>Order {{getOrderTotal()}}</ion-title>
      </ion-col>

      <ion-col col-auto>
        <button ion-button clear (click)='refreshOrder()'>
        <ion-icon color="mainGreen" name="refresh"></ion-icon>
        </button>

        <button color="mainGreen" ion-button (click)="generateOrderText()">
        Get Order
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="searchFilter" class="greenUnder"></ion-searchbar>
  <div>

    <div class="greenUnder" *ngFor="let order of filterOrders()">
      <!--ORDER START -->
      <!--PERSON HEADER -->
      <ion-row [ngClass]="{'greyUnder': order.show }" align-items-center>
        <ion-col width-100>
          <div (click)="changeShow(order)">{{getPersonName(order.id)}}</div>
        </ion-col>
        <ion-col col-auto>
          <ion-toggle color="mainGreen" mode="ios" [(ngModel)]="order.include" (ionChange)="changeInclude(order)"></ion-toggle>
        </ion-col>
      </ion-row>

      <!--PERSON ORDER -->
      <div *ngIf="order.show">
        <!--PERSON ITEMS -->
        <div *ngFor="let item of order.items">
          <ion-row class="greyUnder subItems"  align-items-center>
            <ion-col width-100>
              <div>
                {{item.qty}} x {{getItemName(item.id)}}
              </div>
            </ion-col>
            <ion-col col-auto>
              <ion-row  align-items-center>
                <div class="marginRight">£{{getItemTotal(item).toFixed(2)}}</div>
                <button class="small" color="mainGreen" ion-button (click)="decreaseItem(order,item)"><ion-icon name="remove"></ion-icon></button>
                <button class="small" color="mainGreen" ion-button (click)="increaseItem(order,item)"><ion-icon name="add"></ion-icon></button>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>
        <div class="subItems">
         <!--PERSON CUSTOM -->
        <ion-input class="greyUnder" type="text" placeholder="Custom note" [(ngModel)]="order.custom" (input)="saveOrder(order)"></ion-input>
         <!--PERSON PAID -->
        <ion-row class="greyUnder" align-items-center>
          <ion-col col-auto>
            <ion-input style="width:100px" type="number" placeholder="Paid" [(ngModel)]="order.paid" (input)="saveOrder(order)"></ion-input>
          </ion-col>
          <ion-col width-100>
            {{getChange(order)}}
          </ion-col>
          <ion-col col-auto>
          <div class="marginRight">{{getSingleOrderTotal(order)}}</div>
          </ion-col>
        </ion-row>
        <!--PERSON ADD ITEM -->
        <button class="buttonPadding" ion-button color="mainGreen" full (click)="showSelection(order)">Add item</button>
        </div>
      </div>
    </div>
    <!--ORDER END -->


  </div>
</ion-content>